/**{
	padding: 0;
	margin: 0;
	list-style: none;
}*/
body{
	font-family: "微软雅黑";
}
header{
	height: 90px;
	min-width: 1190px;
}
header h1,img{
	float: left;
}
ul li{
	cursor: pointer;
}
a{
	text-decoration: none;
}
.favor .side p a{
	color: black;
}
.love a{
	color: black;
}
.item a{
	color: black;
}
.head{
	width: 1190px;
	margin: 0 auto;
	position: relative;
}

form{
	width: 532px;
	height: 36px;
	border: 2px solid #00be8f;
	float: left;
	margin-top: 26px;
	margin-left: 40px;
}
form span:nth-of-type(2){
	float: left;
	margin-left: 12px;
}
.local{
	width: 18px;
	height: 18px;
	display: inline-block;
	margin-top: 9px;
	background: url(../img/icon.png);
	background-position: 2px 0px;
	margin-left: 7px;
	float: left;
}
.forms{
	float: left;
	line-height: 38px;
	cursor: pointer;
}
.forms span{
	font-size: 13px;
}
.forms a{
	overflow: hidden;
	font-size: 11px;
	text-decoration: none;
	color: #666;
	line-height: 39px;
	float: left;
	margin-left: 13px;
}
.i_but{
	width: 11px;
    height: 10px;
    display: inline-block;
    margin-top: 9px;
    background: url(../img/icon.png);
    background-position: 111px -4px;
    margin-left: 5px;
    margin-right: 5px;
    transform: rotate(90deg);
}
.go-list{
	width: 475px;
	padding: 22px 31px 17px 31px;
	position: absolute;
	top: 72px;
	left: 270px;
	background: #fff;
	z-index: 1000;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	display: none;
}
.go-list::after{
	content: '';
    position: absolute;
    top: -8px;
    left: 75px;
    display: block;
    width: 19px;
    height: 10px;
    background: url(../img/icon.png) no-repeat 0 -18px;
}
.go-list h2{
	font-size: 13px;
	font-weight: 500;
	cursor: pointer;
	margin-top: 0;
}
.go-list h2.mt{
	margin-top: 10px;
}
.go-list ul{
	overflow: hidden;
	z-index: 1000;
}
.go-list li{
	float: left;	
}
.go-list li a{
	font-size: 13px;
	color: #666;
    display: block;
    float: left;
    max-width: 42px;
    height: 25px;
    line-height: 19px;
    margin-right: 20px;	
}
.A-Z{
	margin-bottom: 10px;
	background: url(../img/tab.png) repeat-x bottom;
}
.A-Z a.on{
	color: #00BE88;
	border-bottom: 2px solid #00BE88;
}
.go-list .A-Z-list li a{
    width: 56px;
    height: 19px;
    overflow: hidden;
    margin: 0 8px 15px 0;
    margin-right: 20px;	
}
.go-list .A-Z-list li a:nth-of-type(8){
    margin-left: 30px;	
}
.go-list .A-Z-list li a:nth-of-type(15){
    margin-left: 30px;	
}
.go-list li em{
	float: left;
	color: #00BE88;
	line-height: 19px;
    margin-right: 20px;
}
input{
	float: left;
	width: 350px;
	height: 36px;
	font-size: 12px;
	border: 1px solid #e5e5e5;
	border-top: none;
	border-right: none;
	border-bottom: none;
	outline: none;
	text-indent: 15px;
}
form>a{
	width: 60px;
	height: 36px;
	background: #00BE8F;
	float: right;
}
.head.fix{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 7px 0;
    background-color: #00be8f;
    display: none;
    z-index: 900;
}
.head.fix h6{
    float: left;
    margin: 4px 100px 0 22px;
}
.head.fix .forms{
    background: #fff;
    line-height: 36px;
    height: 36px;
}
.head.fix form{
    margin-top: 0;
}
.head.fix form>a{
    background-color: #60ddb2
}
.head.fix .fix-search{
    width: 1190px;
    margin: 0 auto;
}
.search{
	float: left;
	width: 16px;
    height: 16px;
    display: inline-block;
    margin-top: 9px;
    background: url(../img/icon.png);
    background-position: 220px 0px;
    text-align: center;
    margin-left: 22px;
}
.right{
	float: right;
}
.right a{
	float: left;
	font-size: 12px;
	text-decoration: none;
	color: #888;
	margin: 38px 13px 0 6px;
}
.right a:hover{
	color: #00BE88;
}
.right a:hover .csh{
	background-position: 201px -19px;
}
.right>p{
	width: 124px;
    height: 28px;
	border: 1px solid #e5e5e5;
	border-top: none;
	border-bottom: none;
	float: left;
	color: #888;
	font-size: 12px;
	margin-top: 30px;
	line-height: 28px;
	font-style: italic;
}
.right>p:hover{
	color: black;
}
.csh{
	width: 15px;
    height: 16px;
    display: inline-block;
    background: url(../img/icon.png);
    background-position: 201px -1px;
    float: left;
    padding-right: 5px;
}
.phone{
	width: 11px;
    height: 16px;
    display: inline-block;
    background: url(../img/icon.png);
    background-position: 180px -1px;
    float: left;
    margin: 7px 10px 0 14px;
}
.head i{
	width: 12px;
    height: 18px;
    display: inline-block;
    background: url(../img/icon.png);
    background-position: 163px 0px;
    float: left;
    margin-top: 36px;
    margin-left: 13px;
    cursor: pointer;
    position: relative;
}
.i-qrcode{
	position: absolute;
	top: 27px;
	left: -60px;
    width: 145px;
    background: #fff;
    padding: 20px 0 15px 0;
    text-align: center;
    font-size: 13px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
	z-index: 1100;
	display: none;
	position: relative;
}
.i-qrcode::after{
	content: '';
    position: absolute;
    top: -8px;
    left:57px;
    display: block;
    width: 19px;
    height: 10px;
    background: url(../img/icon.png) no-repeat 0 -18px;
}
.i-qrcode img{
	float: none;
}
.i-qrcode p{
	float: none;
	font-weight: bold;
	color: #00BE88;
	margin: 5px 0 10px;
}
.i-qrcode span{
	float: none;
	color: #666;
}
.u-qrcode{
	position: absolute;
	top: 27px;
	left: -60px;
    width: 145px;
    background: #fff;
    padding: 20px 0 15px 0;
    text-align: center;
    font-size: 13px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
	z-index: 1100;
	display: none;
	position: relative;
}
.u-qrcode::after{
	content: '';
    position: absolute;
    top: -8px;
    left:57px;
    display: block;
    width: 19px;
    height: 10px;
    background: url(../img/icon.png) no-repeat 0 -18px;
}
.u-qrcode img{
	float: none;
}
.u-qrcode p{
	float: none;
	font-weight: bold;
	color: #00BE88;
	margin: 5px 0 10px;
}
.u-qrcode span{
	float: none;
	color: #666;
}
i:hover{
    background-position: 163px -18px;
}
.head u{
	width: 18px;
    height: 17px;
    display: inline-block;
    background: url(../img/icon.png);
    background-position: 148px -1px;
    float: right;
    margin-top: 36px;
    margin-left: 21px;
    cursor: pointer;
}
.head u:hover{
    background-position: 148px -19px;
}
nav{
	height: 45px;
	background: #00BE8F;
	z-index: 900;
}
.home{
	width: 1190px;
	height: 45px;
	background: #00BE8F;
	margin: 0 auto;
	z-index: 900;
}
.home>ul{
	float: left;
}

.home>ul li{
	float: left;
	height: 45px;
	margin: 0 17px;
	font-size: 15px;
}
.home>a{
	text-decoration: none;
	color: #fff;
	border-bottom: 3px solid transparent;
}
.home>ul a:hover{
	font-weight: 700;
}
.home>ul a{
	height: 45px;
	line-height: 45px;
	padding: 10px 0;
	color: #fff;
}
.home>ul li.fx{
	position: relative;
}
.home>ul li i{
	position: absolute;
	top: -10px;
	left: 0;
	right: 0;
	text-align: center;
	color: red;
}
.home>ul li i em{
	color: #fff;
	padding: 0 5px;
	background: #ff4444;
	font-size: 12px;
	position: relative;
}
.home>ul li i em::after{
	content: '';
	height: 6px;
	position: absolute;
	background: url(../img/menu-tag.png) no-repeat center bottom;
	bottom: -6px;
	left: 0;
	right: 0;
}
.home .hot{
	width: 230px;
	line-height: 45px;
	font-size: 16px;
	font-weight: 700;
	background: #00a782;
	margin: 0px;
	text-align: center;
}
.load{
	float: right;
	width: 120px;
	height: 45px;
	background: #00a782;
	font-size: 13px;
	cursor: pointer;
	margin-left: 17px;
}

#chose>li{
	float: left;
	color: #fff;
	margin-left: 10px;
	padding: 3px 0;
	position: relative;
	z-index: 1000;
}
#chose>li ul{
	background: white;
	width: 120px;
	position: absolute;
	left: -10px;
	top: 23px;
	display: none;
	z-index: 10;
	padding: 10px 0;
}
#chose>li ul a{
	display: block;
	height: 27px;
	line-height: 27px;
	font-size: 13px;
	text-indent: 10px;
	margin-left: 10px;
	color: #333;
}
#chose>li ul .hr{
	display: block;
	height: 0px;
	margin: 5px 15px;
	padding: 0;
	border: none;
	border-bottom: 1px dashed #d9e1eb;
}
#chose a:hover{
	color: #00BE8F;
}
.load>a{
	color: #fff;
	float: left;
	opacity: 1;
	margin: 5px 10px 0;
}
.load>a:hover{
	text-decoration: underline;
}
.home .hom{
	font-weight: 700;
	border-bottom: 3px solid #fff;
}

.i_me{
	width: 11px;
    height: 10px;
    display: inline-block;
    background: url(../img/icon.png);
    background-position: 128px -4px;
    margin-left: 5px;
    margin-right: 5px;
}
.ppt{
	height: 360px;
	margin: 0 auto;
	position: relative;
	z-index: 800;
}
.ppt>ul{
    width: 1920px;
    margin: 0 auto;
    transform: translateX(-100px);
	position: relative;
	z-index: 800;
}
.ppt>ul li{
	position: absolute;
	top: 0;
	left: 0;
	transition: all 2s;
}
.ppt>ul li img{
	margin: 0 auto;
}
.ppt_box{
	width: 1190px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 800;
}
.ppt_box>i{
	width: 52px;
	height: 22px;
	display: block;
	background: url(../img/i-ad.png);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 900;
}
ol{
    position: absolute;
	right: 0px;
	bottom: -350px;
}
ol li{
	width: 149px;
	height: 24px;
	font-size: 12px;
	text-align: center;
	line-height: 24px;
	float: left;
	margin-left: 5px;
	background: rgba(250,250,250,0.6);
	cursor: pointer;	
}
ol li.on{
	background: rgba(90,90,90,0.4);
	color: #fff;
}
.text_box{
	width: 230px;
	background: rgba(40,48,62,.88);
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 900;
}
.text_box li{
	margin-left: 20px;
}
.box{
	cursor: pointer;
	z-index: 900;
}
.box{
	width: 230px;
	height: 59px;
    color: #fff;
    border-bottom: 1px dashed #2c3541; 
	float: left;
	position: relative;
}
.box1{
	height: 300px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 230px;
	box-shadow: 4px 4px 5px rgba(0,0,0,.02);
	z-index: 900;
	overflow: hidden;
	width: 780px;
	padding: 30px;
	background: #fff;
	display: none;
	z-index: 900;
}
.box1 li{
	display: block;
    float: left;
    width: 270px;
    height: 124px;
    overflow: hidden;
    margin-bottom: 25px;
    margin-right: 40px;
    margin-left: 0;
}
.box1 li h3{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-weight: 700;
    font-size: 14px;
    color: #424b5b;
    margin-top: 0;
}
.box1 li a{
    display: inline-block;
    padding-right: 10px;
    margin: 0 0 10px 10px;
    border-right: 1px solid #e8e8e8;
    font-size: 13px;
    color: #333;
}
.box1 li a.on{
    color: #00BE8F;
}
.box1 a:hover{
	color: #00BE8F;
}
.box1.t2{
	top: -60px;
}
.box1.t3{
	top: -120px;
}
.box1.t4{
	top: -180px;
}
.box1.t5{
	top: -240px;
}
.box1.t6{
	top: -300px;
}
.box:hover{
	background: rgba(38,48,64,1);
}
h2{
    font-size: 18px;
    margin: 10px 0 5px 0;
}
.text_box a{
	float: left;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 13px;
}

.text_box a:hover{
    color: #00BE8F;
}

.expend{
	width: 7px;
    height: 10px;
    display: inline-block;
    background: url(../img/icon.png);
    background-position: 106px -4px;
    float: right;
    position: absolute;
    top: 25px;
    right: 16px;
}

.sp_ppt{
	height: 44px;
    float: right;
    overflow: hidden;
}
.sp_ppt>p{
	height: 44px;
	text-align: right;
	position: relative;
}
.sp_ppt>p a{
	font-size: 13px;
	text-decoration: none;
	color: #333;
	display: block;
	height: 44px;
	line-height: 44px;
}

.middle{
	height: 388px;
	background: #f1f4f9;
	padding-bottom: 30px;
}
.favor{
	width: 1190px;
	margin: 0 auto;
}
.side{
	float: left;
	width: 230px;
	height: 278px;
	background: #fff;
	margin-top: 30px;
	border-top: 2px solid #ddb36b;
	position: relative;
}
.side ul{
	width: 230px;
	float: left;	
}
.side ul li{
	margin: 16px 10px 0 10px;
}
.title{
	height: 40px;
	width: 200px;
	float: left;
	font-size: 12px;
	line-height: 20px;
	margin: 12px 10px 12px;
	overflow: hidden;
}
.pay{
	float: left;
	font-size: 14px;
	color: #ff6666;
	margin-left: 10px;
	margin-bottom: 8px;
}
.pay span{
	font-size: 12px;
	color: #000;
}
.side b{
	float: right;
	font-size: 12px;
	margin-right: 10px;
	display: inline-block;
	width: 90px;
	height: 30px;
	background: #ff6678;
	text-align: center;
	line-height: 30px;
	margin-bottom: 20px;
}
.side a{
	color: #fff;
	text-decoration: none;
}
.side u{
	width: 50px;
	height: 52px;
	display: block;
	background: url(../img/seckill-tag.png);
	position: absolute;
	top: 10px;
	left: 10px;
}
h3{
	float: left;
	width: 800px;
	font-size: 22px;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 10px;
	color: #2f3237;
}
.love{
	width: 950px;
	height: 274px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	border-top: 2px solid #e4e5ea;
}
.like{
	float: left;
	width: 230px;
	height: 264px;
	background: #fff;
	margin: 10px 10px 0 0;
	position: relative;
}
.like:hover{
	box-shadow: 0 4px 10px rgba(0,0,0,0.08);
	transform: translateY(-2px);
}
.like:nth-of-type(4){
	margin-right: 0px;
}
.like b{
	font-size: 12px;
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
	color: #999;
}
.like u{
	width: 59px;
	height: 24px;
	font-size: 12px;
	display: block;
	background: black;
	color: #FFFFFF;
	text-align: center;
	line-height: 24px;
	border-top-right-radius: 12px;
	position: absolute;
	left: 0px;
    bottom: 103px;
    opacity: 0.6;
}
section{
	width: 1190px;
	overflow: hidden;
	margin: 78px auto 0;
}
h4{
	float: left;
	font-size: 30px;
	font-weight: bold;

	margin-right: 51px;
	color: #2f3237;
}
.select>ul{
	width: 820px;
	height: 45px;
	float: left;
}
.select>ul li{
	float: left;
	height: 45px;
	line-height: 45px;
	margin: 0 15px;
	font-size: 14px;
}
.select>ul li:hover a{
	border-bottom: 3px solid #00BE8F;
	padding: 7px 0;
}
.select a{
	text-decoration: none;
	color: #666;
}
.current a{
	border-bottom: 3px solid #00BE8F;
	padding: 7px 0;
}
.select>p{
	float: right;
	font-size: 12px;
	color: #666;
    padding: 14px 0;
}
.select span{
	width: 7px;
    height: 12px;
    display: inline-block;
    background: url(../img/icon.png);
    background-position: 90px -1px;
    float: right;
    margin-left: 10px;
}
.item{
	float: left;
	width: 230px;
	height: 264px;
	background: #fff;
	margin: 20px 10px 0 0;
	position: relative;
}
.item:hover{
	box-shadow: 0 4px 10px rgba(0,0,0,0.08);
	transform: translateY(-2px);
}
.item li{
	float: left;
}
.item p{
	float: left;
	bottom: 103px;
}
.item li{
	float: left;
}
.item:nth-of-type(5){
	margin-right: 0px;
}
.item:nth-of-type(10){
	margin-right: 0px;
}
.item b{
	font-size: 12px;
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
	color: #999;
}
.item u{
	width: 59px;
	height: 24px;
	font-size: 12px;
	display: block;
	background: black;
	color: #FFFFFF;
	text-align: center;
	line-height: 24px;
	border-top-right-radius: 12px;
	position: absolute;
	left: 0px;
    bottom: 103px;
    opacity: 0.6;
}
footer{
	height: 369px;
	background: #3c3c3c;
	margin-top: 90px;
}
.foot_top{
	width: 1190px;
	height: 183px;
	margin: 0 auto;
	background: #3c3c3c;
	overflow: hidden;
	border-bottom: 1px solid #555;
}
dl{
	float: left;
	color: #fff;
	margin-right: 75px;
	margin-top: 25px;
	line-height: 27px;
}
dl a{
	text-decoration: none;
	color: #c9c9c9;
}
dt{
	font-size: 12px;
	border-left: 2px solid #00be8f;
	padding-left: 10px;
	font-weight: bold;
}
dd{
	font-size: 11px;
	
}
.follow{
	width: 127px;
	height: 123px;
	float: left;
	margin-top: 25px;
	margin-right: 75px;
}
.follow u{
	width: 40px;
	height: 40px;
	display: inline-block;
	float: left;
	background: url(../img/f-icon.png);
	cursor: pointer;
}
.follow i{
	width: 40px;
	height: 40px;
	display: inline-block;
	float: right;
	background: url(../img/f-icon.png);
	background-position: 0 40px;
	cursor: pointer;
}
.follow p{
	font-size: 11px;
	color: #fff;
	margin-top: 13px;
}
.follow a{
	color: #fff;
	text-decoration: none;
}
.follow span{
	color: #00be8f;
	float: left;
	font-size: 14px;
	font-weight: 700;
	margin-top: 5px;
}
.follow .num{
	float: left;
	overflow: hidden;
	margin-top: 18px;
}
.follow u:hover{
	background-position: 40px 0px;
}
.follow i:hover{
	background-position: 40px 40px;
}
.p1{
	float: left;
}
.p2{
	float: right;
}
.qr{
	width: 220px;
	height: 127px;
	float: left;
	margin-top: 25px;
}
.qr .left{
	width: 90px;
	float: left;
}
.qr .left p:nth-of-type(1){
	margin-top: 5px;
}
.qr .right_ p:nth-of-type(1){
	margin-top: 5px;
}
.qr .right_{
	width: 90px;
	float: right;
}

.qr u{
	width: 90px;
	height: 90px;
	display: inline-block;
	float: left;
	background: url(../img/app.png);
}

.qr i{
	width: 90px;
	height: 90px;
	display: inline-block;
	float: right;
	background: url(../img/wechat.png);
}
.qr p{
	font-size: 11px;
	color: #fff;
	float: left;
}
.foot_bottom{
	width: 1190px;
	margin: 0 auto;
}
h5{
	float: left;
	margin: 25px 25px 0 0;
}
.foot_bottom .copy{
	float: left;
	margin-top: 20px;
	color: #fff;
	font-size: 12px;
	line-height: 26px;
}
.link_box{
	width: 492px;
	height: 60px;
	float: right;
	margin-top: 20px;
	margin-right: 60px;
	font-size: 12px;
	line-height: 26px;
}
.link_box>p:nth-of-type(2){
	font-size: 12px;
	line-height: 26px;
	color: #8C8C8C;
	margin-left: 5px;
}
.link_box>p a{
	color: #8c8c8c;
	text-decoration: none;
	border-right: 1px solid #8c8c8c;
	padding: 0 5px;
}
.link_box>p a:nth-of-type(7){
	color: #8c8c8c;
	text-decoration: none;
	border-right: 1px solid transparent;
	padding: 0 0 0 5px;
}
.link_box>p a:nth-of-type(13){
	color: #8c8c8c;
	text-decoration: none;
	border-right: 1px solid transparent;
	padding: 0 0 0 5px;
}
.logo_link{
	width: 1190px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
}
.logo_link ul{
	width: 615px;
	height: 36px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 40px;
}
.logo_link li{
	float: left;
	margin-left: 13px;
}
.nav_s{
	position: fixed;
	top: 30%;
	left: 50%;
	margin-left: -659px;
	display: none;
}
.nav_s li{
	width: 40px;
	height: 42px;
	font-size: 12px;
	text-align: center;
	box-sizing: border-box;
	padding: 4px 8px;
	border-bottom: 1px solid #eee;
	cursor: pointer;
	color: #333;
}
.nav_s li:hover{
	background: #00BE8F;
	color: #fff;
}
.nav_s ul{
	background: #f4f5f6;
}
.nav_s .cor{
	background: #00BE8F;
	color: #fff;
}
body>span{
	width: 40px;
	height: 40px;
	display: none;
	background: url(../img/top.png);
	position: fixed;
	right: 10px;
	bottom: 170px;
	cursor: pointer;
}
.click_box{
	position: fixed;
    left: -100%;
    bottom: 11px;
    z-index: 3002;
    width: 130px;
    height: 134px;
    cursor: pointer;
    background: url(../img/side.png);
}
.weixin_bg{
	position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3001;
    width: 100%;
    height: 160px;
    background-color: #172735;
    opacity: .9;
    transition: .75s;
}
.weixin_content{
	width: 1190px;
	margin: 0 auto;
}
.weixin_content img{
	float: left;
}
.weixin_qr_down{
	float: right;
    width: 290px;
    height: 160px;
    background-color: #2c3a45;
}
.weixin_qr_down span{
	display: inline-block;
	width: 78px;
    height: 100px;
    margin: 31px 20px 0 20px;
    background: url(../img/sprite_mask.png);
    background-position: -370px -180px;
    float: left;
}
.weixin_qr_down img{
	margin-top: 36px;
}
.weixin_qr_down i{
	display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/sprite_mask.png);
    background-position: -448px -180px;
    cursor: pointer;
    float: right;
    margin: 15px 15px 0 0;
}

.weixin_qr_down i{
	transition: all .1s;
}
.weixin_bg.hidden{
	bottom: -100%;
}
