/*
* @Author: zhang
* @Date:   2019-02-15 11:19:38
* @Last Modified by:   zhang
* @Last Modified time: 2019-02-17 23:35:28
*/
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
a{
	text-decoration:none;
}
.header{
	background:white;
	height:85px;
	border-bottom: 1px solid #dbdedf;
}
.header div{
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	height:86px;
}
.header a{
	float: left;
	margin-top: 23px;
	
}
.header div>img{
	float: right;
	margin-top:53px;
}
body{
	background: #f5fbfb;
}
.main{
	margin-right:auto;
	margin-left: auto;
	width: 1200px;
	height:772px;
}
.main img{
	float:left;
	margin-top:190px;
	margin-left:68px;
}
.box{
	float:left;
	width:500px;
	padding:10px 0px;
	border: 1px solid #ebf0f2;
	background:white;
    margin-left:108px;
    margin-top:60px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	position: relative;
}
.top{
	height: 53px;

}
.top div {
	float: left;
    height: 53px;
    width: 210px;
    color: #666;
    font: normal 20px/49px "微软雅黑";
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-left: 40px;
    position: relative;
}
.shouji {
	display: block;
    height: 26px;
    width: 29px;
    position: absolute;
    top: 13px;
    left: 67px;
    background: url(../images/zc1.png) no-repeat 0px -26px;
}

.e-m {
	display: block;
    height: 26px;
    width: 29px;
    position: absolute;
    top: 13px;
    left: 67px;
    background: url(../images/zc1.png) no-repeat 0px -26px;
    background-position: -32px -26px;
}
.main .on{
	color: #008855;
    border-bottom: 5px solid #085;
    height: 49px;
}
.box div.on i.arr{
    height: 5px;
    width: 10px;
    position: absolute;
    bottom: -10px;
    left: 120px;
    background: url(../images/zc1.png) no-repeat 0px -56px;
}
.tabline{
	display: block;
    height: 18px;
    width: 1px;
    position: absolute;
    bottom: 15px;
    right: 0px;
    border-right: 1px solid #ccc;
    line-height: 0;
    font-size: 0;
}

.shoujimain{
	padding: 20px;
    position: relative;
}
.shoujimain li{
	margin-bottom:22px;
}
.box input{
	padding: 0 20px;
    background-color: #FFF;
	height: 38px;
    font: 14px/38px "微软雅黑";
    color:#d3a075;
}
.box .number input{	
    width: 280px;

    
}
.box .shoujimain span{
	display:inline-block;
	width: 89px;
    font: 14px/40px "微软雅黑";
    text-align: right;
    padding-right: 5px;
    color:#666;
}
.yanzhen a{
	display:inline-block;
	text-align:center;
	line-height:32px;
	width:76px;
	height:32px;
	background:#8ec553;
	margin-left:13px;
	color:white;
}
.yanzhen a:nth-of-type(2){
	background:white;
	color:#a5a5b2;
}
.box .yanzhen input{
	width:112px;
}
.yzm_img{
	height:32px;
}
.huoqu{
	margin-left:94px;
}
.huoqu a{
	display:inline-block;
	background:#f5f5f5;
	width:90px;
	height:38px;
	border:1px solid #e5e5e5;
	color:#a5a5b2;
	line-height:38px;
	text-align: center;
	margin-right:4px;
}
.huoqu label{
	font-size:12px;
	color:#a5a5b2;

}

.yanzhen2 input{
	width: 280px;
}
.pass input{
	width: 280px;
}
.pass2 input{
	width: 280px;
}
.jieshou{
	display:inline-block;
	margin-left:94px;

}
.jieshou a{
	font-size:12px;
	color:#085;

}
.jieshou label{
	font-size:12px;
	color:#444;
	margin-right:4px;
	margin-left:6px;
}
.butt{
	width:318px;
	height:38px;
	margin-left:94px;
	text-align:center;
	border:1px solid #008857;
	border-radius: 10px;
	background:#008857;
	line-height:38px;
	cursor:pointer;
}
.butt p{
 font-size:16px;
 color:#fff;
}
.last{
	text-align:right;
}
.last a{
 font-size:12px;
 margin-right:45px;
 color:#8ec553;
}
.outer input{
	height:10px;
	background:#e5e5e5;
}
.ul2{
	display:none;
}
footer{
	height:194px;
	background:#3c3c3c;
}
footer>div{
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	height:144px;
	padding-top: 25px;
	padding_bottom:25px;
	color:#a4c4ce;
}
.left{
	width:660px;
	height:60px;
	float:left;
}
.left>img{
	float:left;
	margin-right: 25px;

}
.left p{
	font-size: 12px;
	color: #a4c4ce;
	padding-bottom: 10px;
}
.left p>a{
	color: #a4c4ce;
	text-decoration: none;
	margin-right:10px;
	font-size: 12px;
}
.lianjie{
	width:510px;
	height:44px;
	float:right;

}
.lianjie li{
	float:left;
	border-right:1px solid #6b8278;
	color:#6b8278;
	font-size:12px;
	padding-right: 5px;
	margin-right:5px;
	margin-bottom: 10px;
	cursor: pointer;
}
.lianjie li:nth-of-type(13){
	border:none;
}
.show{
	width:1200px;
	height:84px;
	padding: 30px 0 10px 0;
    text-align: center;
    float:left;
}
.show img{
	    margin: 0 5px;
	    width:113px;
	    cursor:pointer;
}